[Unit]
Description=Postgres Server for Keycloak
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/postgres:15
Network=keycloak-postgres

EnvironmentFile=/opt/configurations/postgres/.env-postgres
Environment=PGDATA=/var/lib/postgresql/data/data

Volume=postgres_data:/var/lib/postgresql/data:Z



PublishPort=5432:5432


ContainerName=postgres-db


[Service]
Restart=on-failure
TimeoutStartSec=180
TimeoutStopSec=60

[Install]
WantedBy=default.target