[Unit]
Description=Keycloak PostgreSQL Database
After=network-online.target
Wants=network-online.target

[Container]

EnvironmentFile=%h/podman-netbird/.env/.env-keycloak-postgres
Environment=PGDATA=/var/lib/postgresql/data/data_1

Volume=%h/podman-netbird/postgres-db:/var/lib/postgresql/data:Z
ContainerName=CONTAINERNAMEPOSTGRES
Image=IMAGEPOSTGRES
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
HealthStartPeriod=20s

[Service]
Restart=on-failure
TimeoutStartSec=180
TimeoutStopSec=60

[Install]
WantedBy=default.target