[Unit]
Description=NetBird Relay
Wants=network-online.target
After=network-online.target

Requires={{ netbird_relay.depends_on }}
After={{ netbird_relay.depends_on }}

[Container]
Image={{ netbird_relay.image }}
ContainerName={{ netbird_relay.container_name }}
Network={{ stack["network-netbird"] }}

PublishPort={{ netbird_relay.http_host_port }}:{{ netbird_relay.http_container_port }}
PublishPort={{ netbird_relay.stun_host_port }}:{{ netbird_relay.stun_container_port }}/udp

EnvironmentFile={{ netbird_relay.env_file }}

LogDriver=json-file
LogOpt=max-size=500m
LogOpt=max-file=2

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target