[Unit]
Description=NetBird Dashboard
Wants=network-online.target
After=network-online.target

Requires={{ netbird_dashboard.depends_on }}
After={{ netbird_dashboard.depends_on }}

[Container]
Image={{ netbird_dashboard.image }}
ContainerName={{ netbird_dashboard.container_name }}
Network={{ stack["network-netbird"] }}

PublishPort={{ netbird_dashboard.host_port }}:{{ netbird_dashboard.container_port }}

EnvironmentFile={{ netbird_dashboard.env_file }}

# odpowiednik --log-driver i --log-opt
LogDriver=json-file
LogOpt=max-size=500m
LogOpt=max-file=2

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target