[Unit]
Description=NetBird Nginx Reverse Proxy
Wants=network-online.target
After=network-online.target

Requires={{ netbird_nginx.depends_on }}
After={{ netbird_nginx.depends_on }}

[Container]
Image={{ netbird_nginx.image }}
ContainerName={{ netbird_nginx.container_name }}
Network={{ stack["network-netbird"] }}

PublishPort={{ netbird_nginx.http_host_port }}:{{ netbird_nginx.http_container_port }}
PublishPort={{ netbird_nginx.https_host_port }}:{{ netbird_nginx.https_container_port }}

Volume={{ netbird_nginx.conf_dir }}:/etc/nginx/conf.d:ro,Z
Volume={{ netbird_nginx.fullchain }}:/etc/nginx/ssl/fullchain.pem:ro,Z
Volume={{ netbird_nginx.privkey }}:/etc/nginx/ssl/privkey.pem:ro,Z

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target